Repository ap0nia/eden-query: changes, and which lefthook commands are due for each by the changed paths.
All: format-miscellaneous, format, lint

lefthook.yml:

# yaml-language-server: $schema=https://json.schemastore.org/lefthook.json
---
pre-commit:
  commands:
    format-miscellaneous:
      glob: '*.{css,json,yml,yaml}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
    format:
      glob: '*.{svelte,js,jsx,ts,tsx}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
    lint:
      glob: '*.{svelte,js,jsx,ts,tsx}'
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx --no -- commitlint --edit $1
    devmoji:
      run: npx --no -- devmoji --edit --config devmoji.config.cjs

feat(docs): ✨ 📚️ initial example with rspress and twoslash integration
  package.json
  packages/rspress-plugin-twoslash/package.json
  packages/rspress-plugin-twoslash/src/constants.js
  packages/rspress-plugin-twoslash/src/floating-components/config.js
  packages/rspress-plugin-twoslash/src/floating-components/index.js
  packages/rspress-plugin-twoslash/src/floating-components/initialize.jsx
  packages/rspress-plugin-twoslash/src/floating-components/menu.jsx
  packages/rspress-plugin-twoslash/src/index.d.ts
  packages/rspress-plugin-twoslash/src/index.js
  packages/rspress-plugin-twoslash/src/renderer-floating-react.js
  packages/rspress-plugin-twoslash/src/twoslash.js
  packages/rspress-plugin-twoslash/src/unified/rehype.js
  packages/rspress-plugin-twoslash/styles/twoslash.css
  packages/rspress-plugin-twoslash/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  rspress-documentation/.gitignore
  rspress-documentation/docs/index.md
  rspress-documentation/package.json
  rspress-documentation/rspress.config.js
  rspress-documentation/styles/index.css
Due: format-miscellaneous, format, lint

chore: 🔧 fix all dependencies
  documentation/package.json
  packages/rspress-plugin-twoslash/package.json
  pnpm-lock.yaml
Due: format-miscellaneous

refactor(rspress-plugin-twoslash): custom mdx components and css
  packages/rspress-plugin-twoslash/package.json
  packages/rspress-plugin-twoslash/src/cache-fs.d.ts
  packages/rspress-plugin-twoslash/src/cache-fs.js
  packages/rspress-plugin-twoslash/src/components/svg-wrapper.jsx
  packages/rspress-plugin-twoslash/src/floating-components/initialize.jsx
  packages/rspress-plugin-twoslash/src/floating-components/menu.jsx
  packages/rspress-plugin-twoslash/src/global.d.ts
  packages/rspress-plugin-twoslash/src/index.js
  packages/rspress-plugin-twoslash/src/renderer-floating-react.js
  packages/rspress-plugin-twoslash/src/theme/code/copy-code-button.jsx
  packages/rspress-plugin-twoslash/src/theme/code/index.jsx
  packages/rspress-plugin-twoslash/src/theme/code/index.module.scss
  packages/rspress-plugin-twoslash/src/theme/code/prism-syntax-highlighter.jsx
  packages/rspress-plugin-twoslash/src/theme/code/types.ts
  packages/rspress-plugin-twoslash/src/theme/index.d.ts
  packages/rspress-plugin-twoslash/src/theme/index.jsx
  packages/rspress-plugin-twoslash/src/theme/list.jsx
  packages/rspress-plugin-twoslash/src/theme/pre.jsx
  packages/rspress-plugin-twoslash/src/theme/prism-theme.js
  packages/rspress-plugin-twoslash/src/utils/tailwind.js
  packages/rspress-plugin-twoslash/style.css
  packages/rspress-plugin-twoslash/styles/floating-vue.css
  packages/rspress-plugin-twoslash/styles/line-numbers.css
  packages/rspress-plugin-twoslash/styles/twoslash-style-rich.css
  packages/rspress-plugin-twoslash/styles/twoslash.css
  packages/rspress-plugin-twoslash/styles/vitepress-twoslash-style.css
  pnpm-lock.yaml
  rspress-documentation/docs/eden-query/index.mdx
  rspress-documentation/docs/snippets/apps/basic-1.mdx
  rspress-documentation/package.json
  rspress-documentation/rspress.config.js
  rspress-documentation/src/utils/tailwind.ts
  rspress-documentation/styles/index.css
  rspress-documentation/theme/index.tsx
Due: format-miscellaneous, format, lint

feat(rspress-docs): ✨ eden-query introduction mvp
  rspress-documentation/docs/eden-query/index.mdx
  rspress-documentation/src/components/integration.tsx
Due: format, lint

feat(rspress-docs): ✨ overview of eden-query
  rspress-documentation/.gitignore
  rspress-documentation/docs/eden-query/index.mdx
  rspress-documentation/docs/public/images/react-query-logo.svg
  rspress-documentation/rspress.config.js
  rspress-documentation/src/components/integration.tsx
Due: format, lint

fix: 🐛 svelte-query types
  .changeset/wicked-phones-worry.md
  packages/eden-svelte-query/src/integration/hooks/create-infinite-query.ts
  packages/eden-svelte-query/src/integration/hooks/create-query.ts
  packages/eden/src/utils/empty-to-void.ts
Due: format, lint

feat(rspress-docs): ✨ upgraded daisy-ui and tailwindcss, home page
  pnpm-lock.yaml
  rspress-documentation/docs/index.mdx
  rspress-documentation/docs/snippets/apps/client-1.mdx
  rspress-documentation/docs/snippets/apps/server-1.mdx
  rspress-documentation/package.json
  rspress-documentation/postcss.config.js
  rspress-documentation/src/components/hero.tsx
  rspress-documentation/styles/index.css
  rspress-documentation/tailwind.config.js
Due: format-miscellaneous, format, lint

chore: 🔧 add tool-versions
  .tool-versions
Due: none

chore(rspress docs): align elysia versions
  pnpm-lock.yaml
  rspress-documentation/package.json
Due: format-miscellaneous

chore: 🔧 update lock file
  pnpm-lock.yaml
Due: format-miscellaneous

feat(rspress-docs): ✨ progress with home page and philosophy section
  package.json
  pnpm-lock.yaml
  prettier.config.js
  rspress-documentation/docs/eden-query/index.mdx
  rspress-documentation/docs/hello.mdx
  rspress-documentation/docs/index.mdx
  rspress-documentation/docs/snippets/server/1.mdx
  rspress-documentation/src/components/hero.tsx
  rspress-documentation/src/components/integration.tsx
  rspress-documentation/src/components/motivation.tsx
  rspress-documentation/src/components/note.tsx
  rspress-documentation/styles/index.css
  rspress-documentation/theme/index.tsx
Due: format-miscellaneous, format, lint

feat(rspress-docs): ✨ code-highlighting and snippets work
  packages/rspress-plugin-twoslash/style.css
  pnpm-lock.yaml
  rspress-documentation/docs/eden-query/index.mdx
  rspress-documentation/docs/index.mdx
  rspress-documentation/package.json
  rspress-documentation/rspress.config.js
Due: format-miscellaneous, format, lint

chore: 🔧 upgrade elysia version
  packages/eden-next-query/package.json
  packages/eden-react-query/package.json
  packages/eden-svelte-query/package.json
  packages/eden/package.json
  pnpm-lock.yaml
  rspress-documentation/package.json
Due: format-miscellaneous

feat: ✨ type integrity
  rspress-documentation/components.json
  rspress-documentation/docs/index.mdx
  rspress-documentation/docs/public/assets/book.svg
  rspress-documentation/docs/public/assets/scalar-preview-dark.webp
  rspress-documentation/docs/public/assets/scalar-preview-light.webp
  rspress-documentation/docs/public/assets/scalar-preview.webp
  rspress-documentation/docs/public/assets/sequoia.webp
  rspress-documentation/docs/public/blog/elysia-12/elysia-12.webp
  rspress-documentation/docs/public/blog/elysia-12/memory.webp
  rspress-documentation/docs/public/blog/elysia-12/node-benchmark.webp
  rspress-documentation/docs/public/recipe/react-email/email-preview.webp
  rspress-documentation/docs/public/tutorial/jaeger-detail.webp
  rspress-documentation/docs/public/tutorial/jaeger-list.webp
  rspress-documentation/docs/public/tutorial/jaeger-span.webp
  rspress-documentation/docs/public/tutorial/scalar-landing.webp
  rspress-documentation/docs/public/tutorial/scalar-moonhalo.webp
  rspress-documentation/docs/public/tutorial/scalar-request.webp
  rspress-documentation/docs/public/tweets/aqueel.webp
  rspress-documentation/docs/public/tweets/herrington.webp
  rspress-documentation/docs/public/tweets/htmx.webp
  rspress-documentation/docs/public/tweets/jarred.webp
  rspress-documentation/docs/public/tweets/josedonato.webp
  rspress-documentation/docs/public/tweets/marc.webp
  rspress-documentation/docs/public/tweets/mikroorm.webp
  rspress-documentation/docs/public/tweets/pilcrow.webp
  rspress-documentation/docs/public/tweets/runyasak.webp
  rspress-documentation/docs/public/tweets/scalar.webp
  rspress-documentation/docs/public/tweets/shlomi.webp
  rspress-documentation/docs/snippets/demo.mdx
  rspress-documentation/docs/snippets/swagger.mdx
  rspress-documentation/docs/snippets/type-safety/input.mdx
  rspress-documentation/docs/snippets/type-safety/macros.mdx
  rspress-documentation/docs/snippets/type-safety/output.mdx
  rspress-documentation/rspress.config.js
  rspress-documentation/src/components/documentation.tsx
  rspress-documentation/src/components/motivation.tsx
  rspress-documentation/src/components/type-integrity.tsx
  rspress-documentation/styles/index.css
  rspress-documentation/tsconfig.json
Due: format-miscellaneous, format, lint

feat(rspress-documentation): ✨ swagger integration
  rspress-documentation/docs/index.mdx
  rspress-documentation/src/components/documentation.tsx
  rspress-documentation/src/components/hero.tsx
  rspress-documentation/src/components/motivation.tsx
  rspress-documentation/src/components/type-integrity.tsx
  rspress-documentation/styles/index.css
  rspress-documentation/tsconfig.json
Due: format-miscellaneous, format, lint

feat(rspress docs): integrations
  rspress-documentation/docs/index.mdx
  rspress-documentation/docs/snippets/e2e.mdx
  rspress-documentation/src/components/documentation.tsx
  rspress-documentation/src/components/integrations.tsx
  rspress-documentation/src/components/motivation.tsx
  rspress-documentation/src/components/type-integrity.tsx
  rspress-documentation/styles/index.css
Due: format-miscellaneous, format, lint

feat: ✨ animated integrations
  pnpm-lock.yaml
  rspress-documentation/package.json
  rspress-documentation/src/components/integrations.tsx
Due: format-miscellaneous, format, lint

chore: 🔧 remove unnecessary dependencies
  pnpm-lock.yaml
  rspress-documentation/package.json
Due: format-miscellaneous

feat(rspress-docs): ✨ integrations
  rspress-documentation/src/components/integrations.tsx
  rspress-documentation/src/components/type-integrity.tsx
Due: format, lint

fix(rspress-docs): 🐛 type safety tab active light mode bg color
  rspress-documentation/src/components/type-integrity.tsx
Due: format, lint

fix(rspress docs): rollback to previous working version of rspress
  pnpm-lock.yaml
  rspress-documentation/package.json
Due: format-miscellaneous

feat(rspress docs): animated benchmarks
  rspress-documentation/docs/index.mdx
  rspress-documentation/src/components/benchmarks.tsx
  rspress-documentation/styles/index.css
Due: format-miscellaneous, format, lint

feat(rspress docs): animation for text
  rspress-documentation/docs/index.mdx
  rspress-documentation/src/components/benchmarks.tsx
  rspress-documentation/src/components/documentation.tsx
  rspress-documentation/src/components/motivation.tsx
  rspress-documentation/src/components/note.tsx
Due: format, lint

feat(rspress docs): community and animation optimizations
  rspress-documentation/docs/index.mdx
  rspress-documentation/src/components/benchmarks.tsx
  rspress-documentation/src/components/community.tsx
  rspress-documentation/src/components/documentation.tsx
  rspress-documentation/src/components/integrations.tsx
  rspress-documentation/src/components/motivation.tsx
  rspress-documentation/src/components/note.tsx
  rspress-documentation/src/components/type-integrity.tsx
Due: format, lint

feat(rspress docs): built with love
  rspress-documentation/docs/index.mdx
  rspress-documentation/src/components/built-with-love.tsx
  rspress-documentation/styles/index.css
Due: format-miscellaneous, format, lint

style(rspress docs): tweets border on hover
  rspress-documentation/src/components/community.tsx
Due: format, lint

fix: 🐛 createEdenTreatyQueryUtilsProxy to fix .invalidate() (#83)
  examples/eden-react-query-basic/src/app.tsx
  examples/eden-react-query-basic/src/routes/mutation-on-success-invalidate/+page.tsx
  packages/eden-react-query/src/implementation/treaty/query-utils.ts
Due: format, lint

fix(rspress): 🐛 preserve meta properties after twoslash processing
  packages/rspress-plugin-twoslash/package.json
  packages/rspress-plugin-twoslash/src/index.js
  packages/rspress-plugin-twoslash/style.css
  pnpm-lock.yaml
  pnpm-workspace.yaml
  rspress-documentation/docs/eden-query/index.mdx
  rspress-documentation/docs/hello.mdx
  rspress-documentation/package.json
  rspress-documentation/src/components/community.tsx
  rspress-documentation/src/components/motivation.tsx
  rspress-documentation/styles/index.css
Due: format-miscellaneous, format, lint

feat(rspress docs): progress with tree components
  pnpm-lock.yaml
  rspress-documentation/package.json
  rspress-documentation/rspress.config.js
  rspress-documentation/src/components/hero.tsx
  rspress-documentation/src/components/ui/button.tsx
  rspress-documentation/src/components/ui/tree/index.tsx
Due: format-miscellaneous, format, lint

feat(rspress docs): shadcn components
  rspress-documentation/src/components/hero.tsx
  rspress-documentation/src/components/ui/button.tsx
  rspress-documentation/src/components/ui/tree/index.tsx
Due: format, lint

feat(rspress): ✨ example file tree with markdown code display
  rspress-documentation/src/components/hero.tsx
  rspress-documentation/src/components/ui/tree/index.tsx
  rspress-documentation/src/snippets/a.mdx
  rspress-documentation/src/snippets/b.mdx
  rspress-documentation/src/snippets/c.mdx
  rspress-documentation/src/snippets/d.mdx
Due: format, lint

style(rspress docs): tree should hide child overflow
  rspress-documentation/src/components/ui/tree/index.tsx
Due: format, lint

feat(rspress docs): example of file tree with checkboxes
  rspress-documentation/src/components/ui/tree/index.tsx
Due: format, lint

chore(rspress docs): revert the proof of concept for file tree with checkboxes
  rspress-documentation/src/components/ui/tree/index.tsx
Due: format, lint

chore(rspress docs): remove code tree sample from hero
  rspress-documentation/src/components/hero.tsx
Due: format, lint

chore(rspress docs): move snippets to src
  rspress-documentation/rspress.config.js
  rspress-documentation/src/components/documentation.tsx
  rspress-documentation/src/components/integrations.tsx
  rspress-documentation/src/components/motivation.tsx
  rspress-documentation/src/components/type-integrity.tsx
  rspress-documentation/src/snippets/a.mdx
  rspress-documentation/src/snippets/apps/basic-1.mdx
  rspress-documentation/src/snippets/apps/client-1.mdx
  rspress-documentation/src/snippets/apps/server-1.mdx
  rspress-documentation/src/snippets/b.mdx
  rspress-documentation/src/snippets/c.mdx
  rspress-documentation/src/snippets/d.mdx
  rspress-documentation/src/snippets/demo.mdx
  rspress-documentation/src/snippets/e2e.mdx
  rspress-documentation/src/snippets/server/1.mdx
  rspress-documentation/src/snippets/swagger.mdx
  rspress-documentation/src/snippets/type-safety/input.mdx
  rspress-documentation/src/snippets/type-safety/macros.mdx
  rspress-documentation/src/snippets/type-safety/output.mdx
Due: format, lint

feat(rspress-docs): ✨ functional svelte snippets
  packages/eden-react-query/package.json
  packages/eden-react-query/src/implementation/treaty/root-hooks.tsx
  packages/eden-svelte-query/package.json
  packages/eden/package.json
  packages/eden/src/plugins/batch.ts
  packages/eden/src/plugins/index.ts
  packages/eden/src/plugins/transform.ts
  packages/rspress-plugin-twoslash/package.json
  packages/rspress-plugin-twoslash/src/index.js
  pnpm-lock.yaml
  rspress-documentation/docs/eden-query/batching.mdx
  rspress-documentation/docs/eden-query/cors.mdx
  rspress-documentation/docs/eden-query/headers.mdx
  rspress-documentation/docs/eden-query/index.mdx
  rspress-documentation/docs/eden-query/links/http-batch-link.mdx
  rspress-documentation/docs/eden-query/links/http-link.mdx
  rspress-documentation/docs/eden-query/links/index.mdx
  rspress-documentation/docs/eden-query/links/logger-link.mdx
  rspress-documentation/docs/eden-query/links/split-link.mdx
  rspress-documentation/docs/eden-query/react/aborting.md
  rspress-documentation/docs/eden-query/react/createUtils.md
  rspress-documentation/docs/eden-query/react/disabling.md
  rspress-documentation/docs/eden-query/react/getQueryKey.md
  rspress-documentation/docs/eden-query/react/index.md
  rspress-documentation/docs/eden-query/react/inferring-types.md
  rspress-documentation/docs/eden-query/react/setup.md
  rspress-documentation/docs/eden-query/react/suspense.md
  rspress-documentation/docs/eden-query/react/useInfiniteQuery.md
  rspress-documentation/docs/eden-query/react/useMutation.md
  rspress-documentation/docs/eden-query/react/useQueries.md
  rspress-documentation/docs/eden-query/react/useQuery.md
  rspress-documentation/docs/eden-query/react/useUtils.md
  rspress-documentation/docs/eden-query/svelte/index.mdx
  rspress-documentation/docs/eden-query/transformers.mdx
  rspress-documentation/package.json
  rspress-documentation/src/snippets/apps/react-client-1.mdx
  rspress-documentation/src/snippets/apps/server-1.mdx
  rspress-documentation/src/snippets/apps/svelte-client-1.mdx
Due: format-miscellaneous, format, lint
