Repository ap0nia/eden-query: changes, and which lefthook commands are due for each by the changed paths.
All: format-miscellaneous, format, lint

lefthook.yml:

# yaml-language-server: $schema=https://json.schemastore.org/lefthook.json
---
pre-commit:
  commands:
    format-miscellaneous:
      glob: '*.{css,json,yml,yaml}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
    format:
      glob: '*.{svelte,js,jsx,ts,tsx}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
    lint:
      glob: '*.{svelte,js,jsx,ts,tsx}'
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx --no -- commitlint --edit $1
    devmoji:
      run: npx --no -- devmoji --edit --config devmoji.config.cjs

feat: ✨ milkdown
  bun.lock
  www/package.json
  www/src/lib/attachments/milkdown.svelte.ts
  www/src/lib/milkdown/actions/clear.ts
  www/src/lib/milkdown/actions/focus.ts
  www/src/lib/milkdown/actions/within.ts
  www/src/lib/milkdown/plugins/empty-paragraph-to-newline.ts
  www/src/lib/milkdown/plugins/keymap.ts
  www/src/lib/milkdown/plugins/node-view-factory.ts
  www/src/lib/milkdown/plugins/prosemirror.ts
  www/src/lib/milkdown/plugins/remark-wysiwyg.ts
  www/src/lib/milkdown/plugins/shiki.ts
Due: format-miscellaneous, format, lint

feat: custom code-block node view
  www/src/lib/attachments/milkdown.svelte.ts
  www/src/lib/milkdown/plugins/code-view.svelte
  www/src/lib/milkdown/plugins/code-view.ts
  www/src/routes/+layout.svelte
  www/src/routes/editor/+page.svelte
  www/src/routes/providers.svelte
Due: format, lint

fix: 🐛 dom structure for nested triggers
  www/src/lib/components/markdown/pre-code.svelte
Due: format, lint

fix: 🐛 tooltip styles and markdown props
  www/src/lib/components/markdown/markdown.svelte
  www/src/lib/components/markdown/pre.svelte
  www/src/lib/components/ui/tooltip/tooltip-content.svelte
Due: format, lint

fix: 🐛 copy-button should prioritize its own button props over parent props
  www/src/lib/components/copy-button.svelte
Due: format, lint

chore: 🔧 do not show code header by default
  www/src/lib/components/markdown/pre-code.svelte
Due: format, lint

style: 🎨 always reset line counter for all code blocks
  www/src/styles/code.css
Due: format-miscellaneous

feat: ✨ enhanced docs template with last-updated, edit button, pager buttons
  www/src/lib/components/editor.svelte
  www/src/lib/components/markdown/docs.svelte
  www/src/lib/mdsx/compile.js
  www/src/lib/mdsx/utils/git.js
  www/src/lib/milkdown/plugins/code-view.svelte
  www/svelte.config.js
Due: format, lint

feat: prosemirror + codemirror integration example
  bun.lock
  www/package.json
  www/src/lib/attachments/milkdown.svelte.ts
  www/src/lib/components/editor.svelte
  www/src/lib/components/markdown/docs.svelte
  www/src/lib/milkdown/plugins/code-view.svelte
  www/src/lib/milkdown/plugins/code-view.ts
  www/src/routes/editor/+page.svelte
Due: format-miscellaneous, format, lint

fix: 🐛 types
  .changeset/huge-windows-love.md
  .tool-versions
  packages/eden/src/core/config.ts
  packages/eden/tests/client/index.test.ts
  packages/eden/tests/eden/fetch.test-d.ts
  packages/eden/tests/eden/fetch.test.ts
  packages/eden/tests/eden/treaty.test.ts
  packages/eden/tests/links/logger-link.test.ts
  packages/eden/tests/links/retry-link.test.ts
  packages/eden/tests/links/split-link.test.ts
Due: format, lint

chore: 🔧 update lockfile
  bun.lock
Due: none

feat: ✨ ported rspress modules for generating site data
  bun.lock
  www/index.ts
  www/package.json
  www/src/lib/rspress/node/PluginDriver.ts
  www/src/lib/rspress/node/constants.ts
  www/src/lib/rspress/node/route/RoutePage.ts
  www/src/lib/rspress/node/route/RouteService.ts
  www/src/lib/rspress/node/route/extractPageData.ts
  www/src/lib/rspress/node/route/normalizeRoutePath.ts
  www/src/lib/rspress/node/runtimeModule/i18n.ts
  www/src/lib/rspress/node/runtimeModule/siteData/createSiteData.ts
  www/src/lib/rspress/node/runtimeModule/siteData/normalizeThemeConfig.ts
  www/src/lib/rspress/node/runtimeModule/types.ts
  www/src/lib/rspress/node/utils/applyReplaceRules.ts
  www/src/lib/rspress/node/utils/createHash.ts
  www/src/lib/rspress/node/utils/flattenMdxContent.ts
  www/src/lib/rspress/node/utils/getPageKey.ts
  www/src/lib/rspress/node/utils/index.ts
  www/src/lib/rspress/node/utils/normalizePath.ts
Due: format-miscellaneous, format, lint

feat: ✨ add remark-code-meta to mdsx
  www/src/lib/mdsx/unified/remark-code-meta.js
Due: format, lint

feat: ✨ updated doc-directory in rspress sample
  www/index.ts
Due: format, lint

feat: ✨ use mdsx remark-code-meta
  www/src/lib/mdsx/compile.js
Due: format, lint

feat: ✨ export all frontmatter properties as top-level export
  www/src/lib/mdsx/compile.js
Due: format, lint

feat: full rspress search integration proof of concept
  bun.lock
  www/.gitignore
  www/docs/_meta.json
  www/docs/guide/_meta.json
  www/docs/guide/index.md
  www/docs/hello.md
  www/docs/index.md
  www/docs/public/rspress-dark-logo.png
  www/docs/public/rspress-icon.png
  www/docs/public/rspress-light-logo.png
  www/package.json
  www/src/lib/components/markdown/docs.svelte
  www/src/lib/rspress-theme-default/components/Search/logic/Provider.ts
  www/src/lib/rspress-theme-default/components/Search/logic/providers/LocalProvider.ts
  www/src/lib/rspress-theme-default/components/Search/logic/search.ts
  www/src/lib/rspress-theme-default/components/Search/logic/types.ts
  www/src/lib/rspress-theme-default/components/Search/logic/util.ts
  www/src/lib/rspress/node/route/extractPageData.ts
  www/src/lib/virtual-search-index-hash.ts
  www/src/routes/editor/+page.svelte
  www/src/routes/search-index-hash/+server.ts
  www/src/routes/search-index/[...file]/+server.ts
  www/svelte.config.js
  www/velite.config.js
  www/vite.config.js
Due: format-miscellaneous, format, lint
