Repository ap0nia/eden-query: changes, and which lefthook commands are due for each by the changed paths.
All: format-miscellaneous, format, lint

format-miscellaneous:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true

chore: 🔧 import order sort from linting
  examples/twoslash-playground/rspress.config.ts
Due: format, lint

feat(rspress docs): done
  examples/twoslash-playground/.gitignore
  examples/twoslash-playground/.twoslash/408c60d92fb0.json
  examples/twoslash-playground/build/static/search_index.660396dc.json
  packages/eden-svelte-query/src/implementation/treaty/create-queries.ts
  packages/eden-svelte-query/src/implementation/treaty/index.ts
  packages/eden-svelte-query/src/implementation/treaty/query-utils.ts
  rspress-documentation/docs/eden-query/svelte/aborting.mdx
  rspress-documentation/docs/eden-query/svelte/createInfiniteQuery.mdx
  rspress-documentation/docs/eden-query/svelte/createMutation.mdx
  rspress-documentation/docs/eden-query/svelte/createQueries.mdx
  rspress-documentation/docs/eden-query/svelte/createQuery.mdx
  rspress-documentation/docs/eden-query/svelte/createUtils.mdx
  rspress-documentation/docs/eden-query/svelte/disabling.mdx
  rspress-documentation/docs/eden-query/svelte/getQueryKey.mdx
  rspress-documentation/docs/eden-query/svelte/getUtils.mdx
  rspress-documentation/docs/eden-query/svelte/index.mdx
  rspress-documentation/docs/eden-query/svelte/inferring-types.mdx
  rspress-documentation/docs/eden-query/svelte/reactive.mdx
  rspress-documentation/docs/eden-query/svelte/setup.mdx
  rspress-documentation/index.ts
  rspress-documentation/rspress.config.js
  rspress-documentation/src/snippets/apps/server-1.mdx
  rspress-documentation/src/snippets/apps/svelte-client-1.mdx
Due: format-miscellaneous, format, lint

chore: 🔧 remove twoslash cache
  examples/twoslash-playground/.gitignore
  examples/twoslash-playground/.twoslash/06a8ea94e236.json
  examples/twoslash-playground/.twoslash/093329aa2074.json
  examples/twoslash-playground/.twoslash/117617e16a4b.json
  examples/twoslash-playground/.twoslash/11983fec1f11.json
  examples/twoslash-playground/.twoslash/408c60d92fb0.json
  examples/twoslash-playground/.twoslash/41e38bbd4ea3.json
  examples/twoslash-playground/.twoslash/681bab338de5.json
  examples/twoslash-playground/.twoslash/a1d88b1409ec.json
  examples/twoslash-playground/.twoslash/a558369f1f2d.json
  examples/twoslash-playground/.twoslash/af03ffaf124c.json
  examples/twoslash-playground/.twoslash/b610b69e6f25.json
  examples/twoslash-playground/.twoslash/bd30178c34a0.json
  examples/twoslash-playground/.twoslash/bda9c8a0508c.json
  examples/twoslash-playground/.twoslash/cf291043aed8.json
  examples/twoslash-playground/.twoslash/de6b2cf6d993.json
  examples/twoslash-playground/.twoslash/f9d5a0c651ec.json
Due: format-miscellaneous

chore: 🔧 lock file update
  pnpm-lock.yaml
Due: format-miscellaneous

feat: ✨ canary release workflow
  .changeset/config.json
  .github/workflows/release-canary.yml
Due: format-miscellaneous

test: 🚨 canary workflow change 1
  .changeset/popular-cheetahs-serve.md
Due: none

chore: 🔧 use different template for changeset release
  .changeset/config.json
Due: format-miscellaneous

fix: 🐛 canary tag
  .changeset/wise-mice-repeat.md
  .github/workflows/release-canary.yml
Due: format-miscellaneous

feat: ✨ changesets prerelease change 3
  .changeset/pre.json
  .changeset/soft-students-perform.md
Due: format-miscellaneous

chore: 🔧 add version to all packages missing versions
  documentation/package.json
  packages/rspress-plugin-twoslash/package.json
Due: format-miscellaneous

chore: 🔧 enter/exit canary
  .changeset/pre.json
Due: format-miscellaneous

chore: 🔧 try versioning canary steps
  .github/workflows/release-canary.yml
Due: format-miscellaneous

fix: 🐛 changesets remove pre enter/exit from workflow
  .github/workflows/release-canary.yml
Due: format-miscellaneous

fix: 🐛 try removing explicit tag from changesets publish command
  .github/workflows/release-canary.yml
Due: format-miscellaneous

fix: 🐛 try adding publish script without tag flag
  .github/workflows/release-canary.yml
Due: format-miscellaneous

feat: ✨ canary changesets for main packages
  .changeset/dull-sides-say.md
Due: none

chore: 🔧 rename release to release-latest
  .github/workflows/release-latest.yml
Due: format-miscellaneous

chore: 🔧 disable vitepress docs workflow
  .github/workflows/vitepress-github-pages.yml
Due: format-miscellaneous

feat: ✨ add changeset pre-release exit with regular version command
  .github/workflows/release-latest.yml
Due: format-miscellaneous

chore: 🔧 try custmo version command
  .github/workflows/release-latest.yml
Due: format-miscellaneous

chore: 🔧 try running exit before again
  .github/workflows/release-latest.yml
Due: format-miscellaneous

chore: 🔧 exit pre-release
  .changeset/pre.json
Due: format-miscellaneous

fix: 🐛 only count defined abort signals
  .changeset/solid-moons-argue.md
  packages/eden/src/utils/signal.ts
Due: format, lint

fix: 🐛 set fetch config signal on correct argument
  .changeset/wild-dodos-smile.md
  packages/tanstack-query/src/treaty.ts
Due: format, lint

feat: ✨ add handling for context page param for infinite queries
  .changeset/every-cycles-itch.md
  .changeset/lazy-needles-doubt.md
  packages/tanstack-query/src/treaty.ts
Due: format, lint

chore: 🔧 version eden
  .changeset/kind-radios-refuse.md
Due: none

fix: 🐛 use object-has-own-property for detecting cursor
  .changeset/major-cycles-crash.md
  packages/eden/package.json
  packages/tanstack-query/src/treaty.ts
Due: format-miscellaneous, format, lint

fix: 🐛 query key generation for queries
  packages/tanstack-query/src/fetch.ts
  packages/tanstack-query/src/treaty.ts
Due: format, lint

fix: 🐛 infinite query type detection for svelte-query integration
  packages/svelte-query/src/treaty.ts
Due: format, lint

feat: ✨ initial project setup
  bun.lock
  package.json
  www/.changeset/README.md
  www/.changeset/config.json
  www/.gitignore
  www/package.json
  www/project.inlang/.gitignore
  www/project.inlang/project_id
  www/project.inlang/settings.json
  www/src/app.css
  www/src/app.d.ts
  www/src/app.html
  www/src/lib/components/theme-mode-watcher.svelte
  www/src/routes/+layout.svelte
  www/src/routes/+page.svelte
  www/svelte.config.js
  www/tsconfig.json
  www/vite.config.js
Due: format-miscellaneous, format, lint

fix: remove formatting of floating component
  www/src/lib/mdsx/floating-renderer-svelte-components/root.svelte
Due: format, lint

style: 🎨 enhanced ui for code block
  www/src/lib/components/markdown/pre-code.svelte
Due: format, lint

feat: ✨ basic support for live markdown
  www/src/lib/components/markdown/index.ts
  www/src/lib/components/markdown/markdown.svelte
  www/src/lib/components/markdown/pre-code.svelte
  www/src/lib/mdsx/compile.js
Due: format, lint

feat: ✨ enhanced live code blocks
  www/src/lib/components/markdown/markdown.svelte
  www/src/lib/components/markdown/pre-code.svelte
  www/src/lib/event-emitter.ts
  www/src/lib/mdsx/compile.js
  www/src/lib/unified/remark-code-meta.js
  www/svelte.config.js
  www/vite.config.js
Due: format, lint

feat: ✨ enhanced code block manipulation
  www/src/lib/components/markdown/pre-code.svelte
  www/src/lib/components/ui/command/command-dialog.svelte
  www/src/lib/components/ui/command/command-empty.svelte
  www/src/lib/components/ui/command/command-group.svelte
  www/src/lib/components/ui/command/command-input.svelte
  www/src/lib/components/ui/command/command-item.svelte
  www/src/lib/components/ui/command/command-link-item.svelte
  www/src/lib/components/ui/command/command-list.svelte
  www/src/lib/components/ui/command/command-separator.svelte
  www/src/lib/components/ui/command/command-shortcut.svelte
  www/src/lib/components/ui/command/command.svelte
  www/src/lib/components/ui/command/index.ts
  www/src/lib/components/ui/dialog/dialog-close.svelte
  www/src/lib/components/ui/dialog/dialog-content.svelte
  www/src/lib/components/ui/dialog/dialog-description.svelte
  www/src/lib/components/ui/dialog/dialog-footer.svelte
  www/src/lib/components/ui/dialog/dialog-header.svelte
  www/src/lib/components/ui/dialog/dialog-overlay.svelte
  www/src/lib/components/ui/dialog/dialog-title.svelte
  www/src/lib/components/ui/dialog/dialog-trigger.svelte
  www/src/lib/components/ui/dialog/index.ts
  www/src/lib/components/ui/popover/index.ts
  www/src/lib/components/ui/popover/popover-content.svelte
  www/src/lib/components/ui/popover/popover-trigger.svelte
Due: format, lint

feat: ✨ enhanced live code and markdown updating
  www/src/lib/components/markdown/markdown.svelte
  www/src/lib/mdsx/compile.js
  www/svelte.config.js
Due: format, lint

feat: ✨ tooltips
  www/src/lib/components/markdown/pre-code.svelte
  www/src/lib/components/ui/tooltip/index.ts
  www/src/lib/components/ui/tooltip/tooltip-content.svelte
  www/src/lib/components/ui/tooltip/tooltip-trigger.svelte
  www/src/lib/mdsx/compile.js
  www/src/lib/mdsx/index.d.ts
  www/src/routes/+layout.svelte
  www/svelte.config.js
Due: format, lint

Path conditions:
  format-miscellaneous: any of: *.{css,json,yml,yaml}
  format: any of: *.{svelte,js,jsx,ts,tsx}
  lint: any of: *.{svelte,js,jsx,ts,tsx}
